In [1]:
print('hello all')

hello all

# Python key words

Key words are case sensitive

There are 32 key words in total 

keywords are not variables

In [2]:
import keyword

In [3]:
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [4]:
len(keyword.kwlist)

35

In [7]:

print(keyword.kwlist)
print("\nTotal no of keywords:",len(keyword.kwlist))

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

Total no of keywords: 35

# Identifiers

Identifiers is the name given to entities like class , functions, variables

identifirs are not assigned with number first

In [9]:
12_abc=1

SyntaxError: invalid token (<ipython-input-9-f706107d266a>, line 1)

The above is not valid

In [10]:
abc_1=1

The above one is valid one

we cannot use special symbols in identifiers like @, #,!$,% ,&

# Python comments

Single line comments are written with # symbol first

In [13]:
# Hello all this is my basics of python

Multiline comments are defined with # or """""" triple quotes

In [14]:
"""Hey this is posibabu 
writing first program 
and hoping to develop a best software out of it"""

'Hey this is posibabu \nwriting first program \nand hoping to develop a best software out of it'

# Python indentation

Python indentation will throw an error if not executed properly

Here is an example of indentation error

In [22]:
for i in range(0,8):
    print(i)

print(100)
 print(200)

IndentationError: unexpected indent (<ipython-input-22-5d00950d0823>, line 5)

Here is an example of clean code

In [23]:
for i in range(5):
    print(i)
print('\n The code is printed properly without error')

0
1
2
3
4

 The code is printed properly without error

# Python statements

long or short statements with examples are given below

* Long Statements

In [28]:
a=1+2+3+4+5 \
+6+7

print(a)

28

In [29]:
a=10; b=20; c=30

In [30]:
print(a,b,c)

10 20 30

In [36]:
a=(3+3)

In [32]:
print(a)

6

# *Variables

Variables are memory locations used to store elements

variable are of different data types meaning that we can assign any data type to varibles

Example

In [54]:
a=10
b="hello"
c=True
d=3.9

print('These data types  are integer{a}, and string {b},boolean{c},float{d}',{a,b,c,d})

a,b,c="hello",9,4.9

These data types  are integer{a}, and string {b},boolean{c},float{d} {'hello', 10, 3.9, True}

The Above is an example of multiple assignment of variables

In [46]:
print(a,b,c)

hello 9 4.9

In [50]:
type(c)

float

In order to know the memory location of given variable we do the following code snippet

In [59]:
x=3
print(id(3))

y=5
print(id(5))

z=3
print(id(x))

140710875472336
140710875472400
140710875472336

## Data Types

**Every thing in python is object .

*Every element has a data type in python

###### let me start with integer data type

In [61]:
    a=3
    print (a,'is of type:',type(a))

3 is of type: <class 'int'>

###### now it is of data type float

In [62]:
b=9.3
print(b,'is of type',type(b))

9.3 is of type <class 'float'>

Complex data type

In [63]:
c=9+3j
print(c,'is of data type',type(c))

(9+3j) is of data type <class 'complex'>

## Boolean

In [64]:
a=True
print(type (a))

<class 'bool'>

### Python Strings

String is a sequence of unique characters

we can use single quotes or double quotes to represent the same

Multiline quotes are represented with """""" or ''''''

A string in python consists of a series or sequence of  characters- letters, numbers, and special characters

Strings can be indexed 

String characters start with numbering 0 like C /C++

In [69]:
a="This is my first lecture"
print(a)

type(a)

This is my first lecture

str

Indexing  and slicing

In [85]:
print (a[8])

print(a[3:8])

print(a[2:10:2])

print(a[5:])

m
s is
i sm
is my first lecture

To find last character of string

In [91]:
print(a[len(a)-1])
print(len(a))
print(a[-1])

print(a[:-1:])

e
24
e
This is my first lectur

### Python list

*List is an ordered collection of items in python.*
It is one of the most commonly used data type in python
Lists in python are very flexible 
All the items in list do not need to be of same data type

In [92]:
h=[6,99,1.9,"hey","babu"]
print (h[4])

babu

In [100]:
type(h[0])

int

lists are mutable elements -Meaning that we can change the elements/ replace the elements with other data types

In [101]:
h[2]=99

h

## Python Tuple

Python tuple is as similar as lists but enclosed with normal braces-- ()

tuple in python is immutable meaning that we can't change the elements in tuple /replace the elements

In [110]:
t=('hello',88,True)
t

type(t)

type (t[2])

t[1]

88

In [122]:
t

('hello', 88, True)

In [123]:
t[0][2]

'l'

In [113]:
t[0:2]

('hello', 88)

In [114]:
k=t[0]
k[3]

'l'

## Python set

Set is an unordered collection of items 

set is defined by values separated by comma inside brace{}

Items in a set are not ordered

In [115]:
s={99,999,8282,99,23,33,33,44,5,3,3,3,1,2,3}

In [117]:
s

{1, 2, 3, 5, 23, 33, 44, 99, 999, 8282}

Items in a set is not repeatable

set performs various operations like union, subtraction, multiplication etc

In [119]:
s={883,"ueep",9.3}

In [120]:
s

{883, 9.3, 'ueep'}

Item assignment is not supported in set

Indexing is also not supported by set

### Python dictionary

Dictionary in python is an unordered collection of items. Dictionary in python is nothing but a table with two columns
dictionary contains key value pairs

In [126]:
d={'a':'apple','b':"ball",'c':100}

In [128]:
d['c']

100

In [130]:
d.keys()

dict_keys(['a', 'b', 'c'])

In [131]:
d.values()

dict_values(['apple', 'ball', 100])

In [133]:
type(d)

dict

##### Conversion of data types

In [134]:
int(5.5555)

h=str('34343')

type(h)

bool('d')

bool('ddfd')

5

In [141]:
s=set(d)

In [142]:
s

{'a', 'b', 'c'}

In [143]:
a=[1,2,3,3,4,5,6,7,7,7,7,75,33,3,3,2,1]

In [144]:
a

[1, 2, 3, 3, 4, 5, 6, 7, 7, 7, 7, 75, 33, 3, 3, 2, 1]

In [145]:
s=set(a)

In [146]:
s

{1, 2, 3, 4, 5, 6, 7, 33, 75}

In [157]:
a=12;
b=33
print("The value of the b is {0} and value of a is {1}" .format(b,a))

The value of the b is 33 and value of a is 12

In [159]:
print("hello ,{babu} and {papa} ".format(babu=100,papa=33))

hello ,100 and 33

In [161]:
num= input("hey your aer")
print(num)

hey your aerddd
ddd

## Operators

In [162]:
x,y=10,20
x

10

In [164]:
a=x+y
b=x-y
c=x//y
d=x/y
e=x%y
print(a,b,c,d,e)

30 -10 0 0.5 10

In [180]:
2**3

8

In [179]:
2*3

6

2**3

In [165]:
x<y

True

In [166]:
x>y

False

In [167]:
x>=y

False

In [168]:
x<=y

True

In [169]:
x!=y

True

In [170]:
x==y

False

### Logical operators

In [171]:
x and y

20

In [173]:
k=1;j=0;p=1

In [175]:
k and j

0

In [176]:
k and p

1

In [177]:
k or p

1

In [181]:
a=20
a *=10

In [182]:
a

200

In [183]:
a +=10

In [184]:
a

210

In [185]:
a -=110

In [186]:
a

100

In [187]:
a**=2

In [188]:
a

10000

## If Else

In [7]:
n=int(input("Enter a number : "))
if (n  >10):
    print("The number is positive and greater than ten")
else:
    print("The number is less than 10")

Enter a number : 9
The number is less than 10

Printing positive negative and zero numbers

In [10]:
n= int(input("Enter a number:"))

if n>0:
    print("Positive number ")
elif n==0:
    print("Number is Zero")
else:
    print("Negative Number")

Enter a number:0
Number is Zero

#### Nested if

In [15]:
n=int(input("Enter a Number: "))

if n>=0:
    if n==0:
        print("Number is zero ")
    else:
        print("positive number")
else:
    print("Negative Number")

Enter a Number: 1
positive number

###### Python program to find largest of three numbers

In [18]:
x, y, z =(input("Enter 3 numbers ")).split()

if x>y and x>z:
    print("The greater number is ", x)
elif y>z and y>x:
    print("The greater number is ", y)
else:
    print("The greater number is ", z)

Enter 3 numbers 39 44 88
The greater number is  88

# Python While Loop

The While loop is used to execute the loop as long as it is true